body{
	font-family: "Noto Sans JP", sans-serif;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color:#C5C6C7;
	background:#0B0C10;
}
.text-centre{
	text-align:center;
}
.body-wrapper{
	max-width:1000px;
	margin:0 auto;
}
header nav{
	background:#1F2833;
	color:#45A29E;
	overflow:hidden;
	padding:10px auto;
	width: 100%;
}
header nav ul{
	list-style:none;
	overflow:hidden;
}
header nav ul li{
	float:left;
	margin-left: 4px;
	margin-right: 4px;
}
header nav ul li a{
	color:#45A29E;
	font-size:1.2em;
	padding-right: 50px;
}
article{
	margin: 5px;
	padding: 5px 0;
	border: solid 1px #000;
	overflow: hidden;
	padding-top: 0px;
	background:#1F2833;
}
.title{
	background: #1F2833;
	color: #45A29E;
	padding: 5px;
	padding-left: 10px;
	overflow: hidden;
	margin: 0;
	font-weight:bolder;
}
.title a{
	overflow: hidden;
}
article p, article h1,article h2, article h3, article h4{
	padding:0 15px;
}
article p, article ul, article li{
	font-size: 18px;
}
main{
	float:left;
	width: 68%;
}
aside{
	float:right;
	width: 32%;
}
footer{
	width: 98.5%;
	float: left;
}
a:link {
  color: #45A29E;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #45A29E;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #45A29E;
  background-color: transparent;
  text-decoration: underline;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
